*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  min-width: 1140px;
  gap: 30px;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.search-form {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  appearance: none;
  color: #fff;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
  border-left: none;
  border-right: none;
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: solid 1px #ffffff;
  outline-offset: -1px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}

.search-form__textfield::placeholder {
  font: inherit;
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #fff;
}
.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.result {
  align-self: flex-end;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 12px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: top right;
}

.content__video-card-description-container {
  flex-grow: 50%;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__fieldset-title {
  font-weight: 400;
}

.search-form__checkbox-list .search-form__label:has(:focus-visible) {
  outline: solid 1px #ffffff;
  outline-offset: 1px;
}

.button {
  background-color: transparent;
  border: solid 1px #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: solid 1px #ffffff;
  outline-offset: 1px;
  border-radius: 0%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  line-height: 94%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  -webkit-line-clamp: 1;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  cursor: pointer;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
